* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

#start-screen {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#start-button {
    width: 60%;
    max-width: 1000px;
    height: auto;
    cursor: pointer;
    transition: transform 0.3s ease, filter 0.3s ease;
}

#start-button:hover {
    transform: scale(1.1);
    filter: brightness(1.2);
}

.video-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
    overflow: hidden;
}

video {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media (min-width: 769px) {
    video {
        object-fit: fill; 
    }
}

@media (max-width: 768px) {
    #start-button {
        width: 70%; 
        max-width: 250px;
    }

    video {
        object-fit: contain; 
    }
}

@media (max-width: 480px) {
    #start-button {
        width: 80%; 
        max-width: 200px;
    }

    video {
        object-fit: contain; 
    }
}